main {
  position: relative;
}

main > .container {
  border-radius: 1.5rem;
  padding: 3rem;
  background-color: #19242daa;
  box-shadow: 8px 5px 16px rgb(0 0 0 / 0.2);
}

html[data-theme="light"] main > .container {
  background-color: #ddddddaa;
}

#pic {
  max-width: 300px;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 40em) {
  #pic {
    float: left;
    margin-bottom: 0;
  }
}

#bio p {
  margin-bottom: 0.5rem;
}

#bio p:last-of-type {
  margin-bottom: 1.5rem;
}

.disclaimer {
  font-size: 0.75em;
}

canvas#bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0.5;
}