/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00599C;
  --primary-hover: #2478b9;
  --primary-focus: rgba(36, 120, 185, 0.125);
  --primary-inverse: #fff;

  --secondary: #fd6b35;
  --secondary-hover: #ff885d;
  --secondary-focus: rgba(253, 107, 53, 0.125);
  --secondary-inverse: #fff;

  --form-element-active-border-color-invalid: rgb(198, 40, 40);
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00599C;
    --primary-hover: #2478b9;
    --primary-focus: rgba(36, 120, 185, 0.125);
    --primary-inverse: #fff;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;

  --secondary: #fd6b35;
  --secondary-hover: #ff885d;
  --secondary-focus: rgba(253, 107, 53, 0.125);
  --secondary-inverse: #fff;
}

/* (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

body > header {
  padding: 1.5rem 0;
  background-color: rgb(100 100 100 / 0.1);
}

h1#site-title {
  margin-bottom: 0;
}

header nav ul li.active a {
  color: var(--secondary);
}

header nav ul li.active a:hover {
  color: var(--secondary-hover);
}


#form-wrapper {
  width: min(90%, 600px);
  margin-inline: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgb(255 255 255 / 0.05);
}

#form-header img {
  width: 100%;
  aspect-ratio: 1024 / 300;
  object-fit: cover;
}

form#form {
  padding: 1rem 1rem 0;
}

form legend {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#form label sup {
  color: rgb(198, 40, 40);
  font-weight: bolder;
}

#form input.invalid {
  color: var(--form-element-active-border-color-invalid);
  border: 1px solid var(--form-element-active-border-color-invalid);
}

#form #other-input-group {
  display: none;
}

#form input:not([type="checkbox"]) {
  font-size: 12px;
}

#form input:is([name="firstname"], [name="lastname"]) {
  font-size: 14px;
  font-weight: bold;
}

#form input[name="email"] {
  font-style: italic;
}

#form #other-input-group.isVisible {
  display: block;
}

#form-footer {
  text-align: center;
  background-color: rgb(100 100 100 / 0.1);
  padding: 1rem 3rem;
}

#form-footer p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}


.terms-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 2;
  
  /* transition stuffs */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

html[data-terms-dialog-is-open="true"] .terms-overlay {
  opacity: 1;
  pointer-events: all;
}

dialog#terms {
  position: fixed;
  top: 50%;
  left: 0;
  width: min(90%, 450px);
  height: fit-content;
  transform: translate(0%, -50%);
  z-index: 3;
  padding: 2.5rem;
  min-height: 0;
  min-width: 0;
  flex-direction: column;
  align-items: flex-start;
}

dialog#terms h2 {
  margin-bottom: 0.5em;
}

#close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: scale 0.3s ease;
}

#close-btn:hover {
  scale: 1.1;
}

footer {
  background-color: rgb(100 100 100 / 0.1);
}

.toast {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -3rem);
  opacity: 0;
  padding: 1rem;
  text-align: center;
  width: min(75%, 350px);

  background-color: #999;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 6px 4px 10px rgb(0 0 0 / 0.2);
  animation: show-toast 5s ease;
}

@keyframes show-toast {
  0% {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
}

.toast.success {
  background-color: #388e3c;
}

.toast.error {
  background-color: #b71c1c;
}