html :is:(*, *::before, *::after) {
  box-sizing: border-box;
}

/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00599C;
  --primary-hover: #2478b9;
  --primary-focus: rgba(36, 120, 185, 0.125);
  --primary-inverse: #fff;

  --secondary: #fd6b35;
  --secondary-hover: #ff885d;
  --secondary-focus: rgba(253, 107, 53, 0.125);
  --secondary-inverse: #fff;

  --form-element-active-border-color-invalid: rgb(198, 40, 40);
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00599C;
    --primary-hover: #2478b9;
    --primary-focus: rgba(36, 120, 185, 0.125);
    --primary-inverse: #fff;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;

  --secondary: #fd6b35;
  --secondary-hover: #ff885d;
  --secondary-focus: rgba(253, 107, 53, 0.125);
  --secondary-inverse: #fff;
}

/* (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

body > header {
  padding: 1.5rem 0;
  background-color: rgb(100 100 100 / 0.1);
  position: relative;
}

body > header nav {
  justify-content: center;
}

h1#site-title {
  margin-bottom: 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-align: center;
}

body > header nav ul.navigation {
  display: none;
}

@media (min-width: 40em) {
  body > header nav {
    justify-content: space-between;
  }
  body > header nav ul.navigation {
    display: flex;
  }
}

header nav ul li a {
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

header nav ul li.active a {
  color: var(--secondary);
}

header nav ul li.active a:hover {
  color: var(--secondary-hover);
}

header #mobile-menu-btn {
  position: absolute;
  right: 1.5rem;
  top: 25%;
  transform-origin: center center;
  transition: rotate 0.3s ease;
  fill: #fff;
}

body.mobileMenuIsOpen header #mobile-menu-btn {
  rotate: 90deg;
  fill: var(--secondary);
}

#mobile-nav {
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
}

body.mobileMenuIsOpen #mobile-nav {
  max-height: 175px;
}

#mobile-nav nav {
  justify-content: center;
  padding: 1rem;
  background-color: rgb(255 255 255 / 0.1);
}

#mobile-nav nav ul {
  flex-direction: column;
}

#mobile-nav nav ul li {
  padding: 0.5rem;
}

#mobile-nav nav ul li a {
  font-size: 1.1rem;
  color: #fff;
}

#mobile-nav nav ul li.is_active a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary);
}

@media (min-width: 40em) {
  .hide-for-medium {
    display: none;
  }
}


#form-wrapper {
  width: min(90%, 600px);
  margin-inline: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgb(255 255 255 / 0.05);
}

#form-header img {
  width: 100%;
  aspect-ratio: 1024 / 300;
  object-fit: cover;
}

form#form {
  padding: 1rem 1rem 0;
}

form legend {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#form label sup {
  color: rgb(198, 40, 40);
  font-weight: bolder;
}

#form input.invalid {
  color: var(--form-element-active-border-color-invalid);
  border: 1px solid var(--form-element-active-border-color-invalid);
}

#form #other-input-group {
  display: none;
}

#form input:not([type="checkbox"], [type="submit"]) {
  font-size: 12px;
}

#form input:is([name="firstname"], [name="lastname"]) {
  font-size: 14px;
  font-weight: bold;
}

#form input[name="email"] {
  font-style: italic;
}

#form #other-input-group.isVisible {
  display: block;
}

#form-footer {
  text-align: center;
  background-color: rgb(100 100 100 / 0.1);
  padding: 1rem 3rem;
}

#form-footer p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}


.terms-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 2;
  
  /* transition stuffs */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

html[data-terms-dialog-is-open="true"] .terms-overlay {
  opacity: 1;
  pointer-events: all;
}

dialog#terms {
  position: fixed;
  top: 50%;
  left: 0;
  width: min(90%, 450px);
  height: fit-content;
  transform: translate(0%, -50%);
  z-index: 3;
  padding: 2.5rem;
  min-height: 0;
  min-width: 0;
  flex-direction: column;
  align-items: flex-start;
}

dialog#terms h2 {
  margin-bottom: 0.5em;
}

#close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: scale 0.3s ease;
}

#close-btn:hover {
  scale: 1.1;
}

body footer {
  padding-bottom: 0;
  background-color: rgb(100 100 100 / 0.1);
}

footer .footer-col  {
  margin-bottom: 3rem;
}

footer h2 {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

footer h2::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 75px;
  background-color: #fff;
}

footer .contact p {
  text-align: center;
  font-size: 1.25rem;
}

footer nav {
  justify-content: center;
}

footer#footer nav ul {
  flex-direction: column;
  margin: 0;
}

footer nav ul li {
  padding: 0;
}

footer nav ul li a {
  display: inline-block;
  font-size: clamp(1rem, 3vw, 1.25rem);
  padding: 0.75rem;
}

footer .footer-disclaimer {
  padding: 1rem 2rem;
  background-color: rgb(255 255 255 / 0.05);
}

footer .footer-disclaimer p {
  text-align: center;
  font-size: 0.85rem;
  margin: 0;
}

@media screen and (min-width: 40em) {
  footer nav {
    justify-content: flex-start;
  }
  footer nav ul {
    align-items: flex-start;
  }
  footer nav ul li a {
    padding: 0.4rem;
  }
  footer .contact p {
    text-align: left;
  }
  footer h2 {
    text-align: left;
  }
  footer h2::after {
    left: 0;
    transform: translateX(0);
    width: 80%;
  }
}

.toast {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -3rem);
  opacity: 0;
  padding: 1rem;
  text-align: center;
  width: min(75%, 350px);

  background-color: #999;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 6px 4px 10px rgb(0 0 0 / 0.2);
  animation: show-toast 5s ease;
}

@keyframes show-toast {
  0% {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
}

.toast.success {
  background-color: #388e3c;
}

.toast.error {
  background-color: #b71c1c;
}